<html>
<head>
    {% load static %} 
        <link rel="stylesheet" type="text/css" href="{% static 'li.css' %}">
    <link rel="stylesheet" href="li.css">
        <meta name="discription" content="this is my book store"\>
    <body >
      <a href="home.html"> <h1 > Our Book Store</h1></a> 
        <h3 ><p class="firsthead"><b>Welcame to our book store online</b> </p></h3><br>
    
 
<ul id="navbar"> 
    <li> <a href="home.html">HOME</a></li>
    <li> <a href="new_book.html">new book</a></li>
    <li> <a href="sign_up.html">sign up</a></li>
    <li> <a href="log_in.html">log in</a></li>
    <li> <input type="text" placeholder="search.." style="width: 400px;"></li>
    <li> <a href="shoping_basket.html"> shopping basket</a></li>
    <li> <a href="edit.html">edit log in information</a></li>
    <li> <a href="addnew.html">insert new book</a></li>
    <li> <a href="cont.html">contact us</a></li>
    </ul>

    </div>

<div id="inside3">
<hr>
<br>
<h2>account settining</h2>
<br>


<br>
<div>
    <label>user name</label>
    <input type="text" required>

</div>

       
       <br>
       <br>
       <div>
        <label>email</label>
        <input type="email" required placeholder="user@mail.com">
    
    </div>
    
           
           <br>
           <br>

       <div>
       <label>old password</label>
       <input type="password" required>
    </div>
    <div>
        <label>new password</label>
        <input type="password" required>
     </div>
      <input type="submit">
       <hr>
    
        
       </body>
    </div>
</head>
</html>