
<!DOCTYPE html>
<html>
 

    <head>
       
        {% load static %} 
        <link rel="stylesheet" type="text/css" href="{% static 'li.css' %}">
        
        <meta name="discription" content="this is my book store"\>
        <script src="li.js"></script>
        <script src="addnew.html"></script>
    <body id="home_body" style="background:url(image\cover.jpg);">
        
      <a href="home.html"> <h1 id="h1hom" ><strong> Our Book Store</strong></h1></a> 
        <h3 ><p class="firsthead"><b>Welcame to our book store online</b> </p></h3><br>
    
 
<ul id="navbar"> 
    <li> <a href="/members/home/">HOME</a></li>
    <li> <a href="new_book.html">new book</a></li>
    <li> <a href="/members/signup/">sign up</a></li>
    <li> <a href="/members/login/">login</a></li>
    <li><div >
         <input class="search_box" type="text" placeholder="search.." style="width: 400px;">
        </div></li>
    <li> <a href="/members/shoping_basket/"> shopping basket</a></li>
    <li> <a href="/members/edit/">edit log in information</a></li>
    <li> <a href="/members/addnew/">insert new book</a></li>
    <li> <a href="cont.html">contact us</a></li>
    </ul>

    </div>
    
        <hr>
         <div id="inside">
         <div class="booksss">
        <div class=" bookss" id="bookContainer">
            <div class="book">
                <h3 id=" h1">Data structer c++</h3>
                <a id="1" href="/members/sin/">  <img id=1 src=bookstore/member/template/image/720.jpg alt="" width="170" height="300"><br></a> 
                 <p id="p1">programming and design</p>
                <span id="pr1">100$</span>
                <button class="singlbut">addt to card</button>
            </div>
         <div class="book">
                <h3>crime and punishment</h3>
                <a id="2" href="sin.html?id=2"> <img src="crime-and-punishment-9781625580153_hr-3828899644.jpg" alt=""  width="170" height="300"><br></a>  
                <p>Russian literature</p>
                <span>100$</span>
                <button class="singlbut">addt to card</button>
            </div>
            <div class="book">
                <h3>Java script</h3>
               <a id="3" href="sin.html?id=3"> <img src =jasc.jpg alt="" width="170" height="300"><br></a>
                <p>programming and web technology</p>
                <span>100$</span>
                <button class="singlbut">addt to card</button>
            </div>
            <div id="bookContainer">
                {% for book in books %}
                    <div class="book">
                        <h3>{{ book.title }}</h3>
                        <img src="{{ book.image_url }}" alt="{{ book.title }}" width="170" height="300">
                        <p>{{ book.description }}</p>
                        <span>${{ book.price }}</span>
                        <button class="singlbut">Add to Cart</button>
                    </div>
                {% endfor %}
            </div>
            <a href="{% url 'addnew' %}">Add New Book</a>


        </div>
        <hr>
        <div class="mathbook">
            <div class="book">
                <h3>calculus</h3>
                <img src =cala.jpg alt="" width="170" height="300"><br>
                <p>mathematics</p>
                <span>100$</span>
                <button class="singlbut">addt to card</button>
            </div>
            <div class="book">
                <h3>Algebra</h3>
                <img src =lin.jpg alt="" width="170" height="300"><br>
                <p>mathematics</p>
                <span>100$</span>
                <button class="singlbut">addt to card</button>
            </div>
            <div class="book">
                <h3>Precalculus</h3>
                <img src =math.jpg alt="" width="170" height="300"><br>
                <p>mathematics for calculus </p>
                <span>100$</span>
                <button class="singlbut">addt to card</button>
            </div>
          
        </div>
        <hr>
        <div class="fantisy">
            <div class="book">
                <h3>fyodor dostoyevsky</h3>
                <img src =dooo.jpg alt="" width="170" height="300"><br>
                <p>Russian literature</p>
                <span>100$</span>
                <button class="singlbut">addt to card</button>
            </div>
            <div class="book">
                <h3>warld war</h3>
                <img src =warldwar.jpg alt="" width="170" height="300"><br>
                <p>book discription</p>
                <span>100$</span>
                <button class="singlbut">addt to card</button>
                </div>
                <div class="book">
                    <h3>crime and punishment</h3>
                  <a href="sin.html"><img src =crime-and-punishment-9781625580153_hr-3828899644.jpg alt="" width="170" height="300"><br></a>  
                    <p>Russian literature</p>
                    <span>100$</span>
                    <button class="singlbut">addt to card</button>
                </div>
            </div>
           
                
              
           
           
            </div>
                
             </p>
            </div>
            
        </body>
    </header>
</html>