
<html>
 

<head>
  {% load static %} 
        <link rel="stylesheet" type="text/css" href="{% static 'li.css' %}">
  <link rel="stylesheet" href="li.css">
  <meta name="discription" content="this is my book store"\>
<body>
<a href="home.html"> <h1 > Our Book Store</h1></a> 
  <h3 ><p class="firsthead"><b>Welcame to our book store online</b> </p></h3><br>


  <ul id="navbar"> 
    <li> <a href="/members/home/">HOME</a></li>
    <li> <a href="new_book.html">new book</a></li>
    <li> <a href="/members/signup/">sign up</a></li>
    <li> <a href="/members/login/">login</a></li>
    <li><div >
         <input class="search_box" type="text" placeholder="search.." style="width: 400px;">
        </div></li>
    <li> <a href="/members/shoping_basket/"> shopping basket</a></li>
    <li> <a href="/members/edit/">edit log in information</a></li>
    <li> <a href="/members/addnew/">insert new book</a></li>
    <li> <a href="cont.html">contact us</a></li>
    </ul>
</div>
    <hr>

<div class="shopping-cart">
    
    <div class="title">
      Shopping Bag
    </div>
   
   
    <div class="item">
      <div class="buttons">
        <span class="delete-btn"></span>
        <span class="like-btn"></span>
      </div>
   
      <div class="image" >
        <img src="720.jpg" style="height: 120px;"/>
      </div>
   
      <div class="description">
        <span>book name</span>

        <span>cover type</span>
      </div>
   
      <div class="quantity">
        <button class="plus-btn" type="button" name="button" value="+">-
          <img src="plus.svg" alt="" />
        </button>
        <input type="text" name="name" value="1">
        <button class="minus-btn" type="button" name="button" value="">-
          <img src="minus.svg" alt="" />
        </button>
      </div>
   
      <div class="total-price">$549</div>
    </div>
   
    
    <div class="item">
        <div class="buttons">
          <span class="delete-btn"></span>
          <span class="like-btn"></span>
        </div>
     
        <div class="image" >
          <img src="720.jpg" style="height: 120px;"/>
        </div>
     
        <div class="description">
          <span>book name</span>
  
          <span>cover type</span>
        </div>
     
        
   
      <div class="quantity">
        <button class="plus-btn" type="button" name="button">+
          <img src="plus.svg" alt="" />
        </button>
        <input type="text" name="name" value="1">
        <button class="minus-btn" type="button" name="button">-
          <img src="minus.svg" alt="" />
        </button>
      </div>
   
      <div class="total-price">$349</div>
    </div>
    <div class="item">
      <div class="buttons">
        <span class="delete-btn"></span>
        <span class="like-btn"></span>
      </div>
   
      <div class="image" >
        <img src="720.jpg" style="height: 120px;"/>
      </div>
   
      <div class="description">
        <span>book name</span>

        <span>cover type</span>
      </div>
   
      <div class="quantity">
        <button class="plus-btn" type="button" name="button" value="+">-
          <img src="plus.svg" alt="" />
        </button>
        <input type="text" name="name" value="1">
        <button class="minus-btn" type="button" name="button" value="">-
          <img src="minus.svg" alt="" />
        </button>
      </div>
   
      <div class="total-price">$549</div>
    </div>
   
</div>
<a href="shopingcard.html"><button>purchasing</button></a>
</head>
</html>