<html>

    <head>
      <link rel="stylesheet" href="shopping.css">

      <meta name="discription" content="this is my book store"\>
  <body>
    <a href="home.html"> <h1 > Our Book Store</h1></a> 
      <h3 ><p class="firsthead"><b>Welcame to our book store online</b> </p></h3><br>
  

      <ul id="navbar"> 
        <li> <a href="/members/home/">HOME</a></li>
        <li> <a href="new_book.html">new book</a></li>
        <li> <a href="/members/signup/">sign up</a></li>
        <li> <a href="/members/login/">login</a></li>
        <li><div >
             <input class="search_box" type="text" placeholder="search.." style="width: 400px;">
            </div></li>
        <li> <a href="/members/shoping_basket/"> shopping basket</a></li>
        <li> <a href="/members/edit/">edit log in information</a></li>
        <li> <a href="/members/addnew/">insert new book</a></li>
        <li> <a href="cont.html">contact us</a></li>
        </ul>

  </div>
<hr>
        <h1>BILLING & SHIPPING</h1>
        <div>
            <label for="name">Full Name - الإسم بالكامل *</label>
          <input type="text">
        </div>
        <div>
            <label for="address">Address - العنوان بالتفصيل *</label>
          <input type="text">
        </div>
        <div>
            <label for="phone">Mobile Number - رقم الموبايل *</label>
          <input type="text">
        </div>
        <div>
            <label for="phone">Billing Email - البريد الإلكتروني * </label>
          <input type="text">
        </div>
        <div>
            <H3>ADDITIONAL INFORMATION</H3>
            <input type="text" style="width: 450px;height: 170PX;">
        </div>
        <div class="your-order">
          <h3>Your Order</h3>
          <hr>
          <div class="order-item">
              <p><strong>Product</strong></p>
              <p><strong>Subtotal</strong></p>
          </div>
          <div class="order-item">
              <p><span class="product-name">Head First</span></p>
              <p>$0</p>
          </div>
          <div class="order-item">
              <p><strong>Subtotal</strong></p>
              <p>$0</p>
          </div>
          <div class="order-item">
              <p><strong>Shipping</strong></p>
              <p>$0</p>
          </div>
          <div class="order-item total">
              <p><strong>Total</strong></p>
              <p>$0</p>
          </div>
          <div class="payment-options">
              <label><input type="radio" name="payment-method" id="cash-on-delivery"> Cash on Delivery (دفع عند الاستلام)</label>
              <label><input type="radio" name="payment-method" id="visa-mastercard"> Visa / Mastercard</label>
              <label><input type="radio" name="payment-method" id="mobile-wallets"> Mobile Wallets (محفظة الموبايل)</label>
          </div>
          <label for="checkbox"> <input type="checkbox"> I agree to the terms and conditions *</label>
          <br>
          <input type="button" value="Proceed">
      </div>
      
        
</body>



</html>